/*
 Theme Name:     Pick Your Problem
 Theme URI:      https://bitbucket.org/grantcardone/pick-your-problem-wp-template
 Description:    Child theme of Twenty Sixteen for PickYourProblem.com
 Author:         Elvis Morales
 Author URI:     http://elvismdev.io/
 Template:       twentysixteen
 Version:        1.0.0
 */
 
 .site-inner {
 	max-width: none;
 }

 .site-content,
 .site-footer,
 .site-header-main {
 	max-width: 1320px;
 	margin: 0 auto;
 }

 @media screen and (min-width: 44.375em) {
 	.site {
 		margin: 0;
 	}

 	body:not(.custom-background-image):before, 
 	body:not(.custom-background-image):after {
 		height: 0;
 	}
 }


 .site-header {
 	padding: 0;
 }

 @media screen and (min-width: 56.875em) {
 	.home .content-area	{
 		float: left;
 		margin-right: -100%;
 		width: 100%;
 	}

 	.home .site-content {
 		max-width: 100%;
 		padding: 0;
 	}

 }

 .home article .entry-header,
 .home .site-footer  {
 	display: none;
 }

 #content img {
 	max-width: 100%;
 	-moz-transition: all 0.3s;
 	-webkit-transition: all 0.3s;
 	transition: all 0.3s;
 }

 #content .col-md-3,
 #content .col-md-6 {
 	padding: 0;
 }

 .fader {
 	display:  inline-block;
 	position: relative;
 	overflow: hidden; 
 }

 .fader img {
 	width:       100%;
 	height:      100%;
 	line-height: 0;
 	-webkit-transition: all 0.3s ease;
 	-moz-transition:    all 0.3s ease;
 	-o-transition:      all 0.3s ease;
 	-ms-transition:     all 0.3s ease;
 	transition:         all 0.3s ease; 
 }

 .fader img:hover {
 	opacity: 0.5;
 	width:   120%;
 	height:  120%; 
 }

 .home .site-main {
 	margin-bottom: 0;
 }

 .home .site-branding,
 .home .entry-content {
 	margin: 0;
 }

 .gform_wrapper .top_label input.medium, 
 .gform_wrapper .top_label select.medium {
 	width: 100% !important;
 }

